<form >
  <mat-form-field  class="controles">
    <input matInput placeholder="Email" [formControl]="emailFormControl"
           [errorStateMatcher]="matcher" [(ngModel)]="texto" (blur)="onBlur($event)">
    <mat-hint>Campo requerido</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Ingrese un email valido
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required') && !texto">
      El Email es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>
</form>

