<form >
  <div>
  <mat-form-field class="controles">
    <input matInput placeholder="Contraseña" [(ngModel)]="pass" type="password" [formControl]="passwordFormControl"
           [errorStateMatcher]="matcher" class="inputsForms" (blur)="onBlur($event)">
    <mat-hint>Campo requerido</mat-hint>
    <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required')">
      El formato de contraseña no es valido
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      La contraseña es <strong>requerida</strong>
    </mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field  class="controles">
    <input matInput placeholder="Confirmar contraseña" type="password" [(ngModel)]="passConfirm" [formControl]="comprobarPasswordFC"
           [errorStateMatcher]="matcher"  (blur)="onBlur($event)">
    <mat-hint>Campo requerido</mat-hint>
    <mat-error *ngIf="!comprobarPasswordFC.hasError('equals') && !comprobarPasswordFC.hasError('required')">
      Las contraseñas no coincide
    </mat-error>
    <mat-error *ngIf="comprobarPasswordFC.hasError('required')">
      Debe confirmar su contraseña
    </mat-error>
  </mat-form-field>
</div>
</form>
